<div class="row">
	<div class="small-12 medium-6 columns medium-centered">
		<div class="panel radius form-panel">
			<h3>Retrieve Storify Feed</h3>
			<p class="subheader">Enter the Storify feed's <b>storify.com</b> URL.</p>
			<form id="storifyRequest" data-abide>
				<label for="storify_url">Storify URL:</label>
				<input type="text" id="storify_url" required placeholder="http://storify.com/username/name-of-story" />
				<small class="error">A Storify URL is required.</small>
				<button type="submit" class="radius">Retrieve</button>
			</form>
		</div>
	</div>
</div>