<ul class="tweets">
	<% _.each(results, function(tweet, i) { %>

		<li tweet-id="<%= tweet.get('tweetId') %>">
			<div class="row">
				<div class="small-12 medium-8 columns tweet-user">
					<b><%= tweet.get('realName') %></b> @<%= tweet.get('twitterHandle') %>
				</div>
				<div class="small-12 medium-4 columns tweet-time">
					<%= tweet.get('timestamp').local().format("MMMM D, YYYY") %> at <%= tweet.get('timestamp').local().format("h:mm A") %> 
				</div>
			</div>
			<div class="tweet-text">
				<%= tweet.get('text') %>
			</div>
			<div class="tweet-link">
				<a href="<%= tweet.get('permalink') %>" target="_blank"><%= tweet.get('permalink') %></a>
			</div>
		</li>

	<% }); %>
</ul>